/* Ini css */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav>section {
    display: flex;
    align-items: center;
}

.logoicon {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 100px;
    background-image: url(/../Images/logoav.png);
    background-position: center;
    background-size: 250%;
    margin: 10px;
}

.nav-item {
    border: 1px solid black;
    padding: 6px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}

.banner-container {
    height: 585px;
    width: 1000px;
    margin: auto;
}

.facility-list { 
    display: flex;
    justify-content: space-evenly;
    text-align: -webkit-center;
}

.messageus-section {
    display: flex;
}


.kotak-pesan {
    display: flex;
    height: 150px;
    width: 250px;
}

.formulir {
    width: 500px;
}


#audi {
    background-image: url('/../Images/auditorium.jpg');
    background-position: center;
    background-size: cover;
}

#ppool {
    background-image: url('/../Images/pool2.jpg');
    background-position: center;
    background-size: cover;
}

#roomf {
    background-image: url('/../Images/room1.jpg');
    background-position: center;
    background-size: cover;
}

.slider {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    margin-top: 23px;
}

.slider img {
    width: 100%;
    display: none;
}

img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.50);
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px 15px;
}

@keyframes fade {
    from {opacity: .5;}
    to {opacity: 1;}
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

@media screen and (max-width: 480px) {
    .nav {
        flex-direction: column;
    }

    .facility-list{
        flex-direction: column;
    }

    .slides {
        margin-bottom: 50px;
        margin-right: 17px;
    }

    .next {
        margin-right: 17px;
    }

    .prev {
        margin-bottom: 100px;
    }

    .banner-container {
        height: 200px;
        width: 415px;
        margin-bottom: 50px;
        display: block;
    }

    .facility>hr {
        margin-top: 50px;;
    }

    .slider button {
        transform: translateY(-84%);
    }
}