/* Ini css */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav>section {
    display: flex;
    align-items: center;
}

.logoicon {
    height: 50px;
    width: 50px;
}

.nav-item {
    border: 1px solid black;
    padding: 6px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}

.banner-container>img {
    height: 258px;
    border: 1px solid black;
    width: 400px;
}

.facility-list { 
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.form-result {
    border: 1px solid black;
    height:  150px;
    width: 350px;
    margin-left: auto;
}

.messageus-section {
    display: flex;
}


.kotak-pesan {
    display: flex;
    height: 150px;
    width: 250px;
}

.formulir {
    width: 500px;
}

@media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;
    }
}